  <h1>EU AQUII COM OS RESULTADOS</h1>  

  {{#each artists}}
    <img src="{{ images.0.url }}" alt="{{ name }}"/>
    <strong>"{{ name }}"</strong>
    <a href="/albums/{{ id }}">View Albums</a>
  {{/each}}